name: learn echo
version: 0.0.1

httpConf:
  host: 127.0.0.1
  port: 8080

dbConf:
  dsn: host=127.0.0.1 port=5432 user=postgres password=postgres dbname=test sslmode=disable TimeZone=Asia/Jakarta
  maxOpenConns: 5
  maxIdleConns: 5
  maxIdleTime: 100
  dialect: postgres

mailerConf:
  smtp_host:
  smtp_port:
  smtp_username:
  smtp_password:
  sender:
  templateDir:

loggerConf:
  mode:
  level:
  output:

authConf:
  atSecretKey: OLDWORLDORDER
  rtSecretKey: BLACKSEAOFIGNORANCE

redisConf:
  dsn: 127.0.0.1:6379